@model IndexDisplayViewModel

@{
    ViewData["Title"] = "Best Site for Athletes";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best site for athletes</h1>
</div>

<h3 class="text-center">Check out our daily product, daily recipe and best trainer!</h3>
<div class="row">
    <div class="col-md-4" style="width: 18rem;">
        <div class="card mb-3">
            <img class="card-img-top" src="@Model.Product.ImageUrl" alt="@Model.Product.Name">
            <div class="card-body">
                <h5 class="card-title">@Model.Product.Name</h5>
                <h6>Price: @Model.Product.Price</h6>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Product.Id" asp-route-information="@Model.Product.ProductInformation()" class="btn btn-primary">Read more</a>
                    @if (User.IsAdmin())
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Product.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
                    }
                    else
                    {
                        <a asp-controller="Products" asp-action="AddToCart" asp-route-id="@Model.Product.Id" class="btn btn-primary">Add to Cart</a>
                    }
            </div>
        </div>
    </div>

    <div class="col-md-4" style="width: 18rem;">
        <div class="card mb-3">
            <img class="card-img-top" src="@Model.Recipe.ImageUrl" alt="@Model.Recipe.Title">
            <div class="card-body">
                <h5 class="card-title">@Model.Recipe.Title</h5>
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Recipe.Id" asp-route-information="@Model.Recipe.RecipeInformation()" class="btn btn-primary">Read more</a>
                    @if (this.User.IsAdmin())
                    {
                        <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model.Recipe.Id" class="btn btn-danger">Delete</a>
                    }
            </div>
        </div>
    </div>

    <div class="col-md-4" style="width: 18rem;">
        <div class="card mb-3">
            <img class="card-img-top" src="@Model.Trainer.ImageUrl" alt="@Model.Trainer.FullName">
            <div class="card-body">
                <h5 class="card-title">@Model.Trainer.FullName</h5>
                <h6 class="card-title">@Model.Trainer.Sport</h6>
                    <a asp-controller="Trainers" asp-action="Details" asp-route-id="@Model.Trainer.Id" asp-route-information="@Model.Trainer.TrainerInformation()" class="btn btn-primary">Read more</a>
                    @if (User.IsAdmin())
                    {
                        <a asp-controller="Trainers" asp-action="Edit" asp-route-id="@Model.Trainer.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Trainers" asp-action="Delete" asp-route-id="@Model.Trainer.Id" class="btn btn-danger">Delete</a>
                    }
                    else
                    {
                        <a asp-controller="Trainers" asp-action="Hire" asp-route-id="@Model.Trainer.Id" class="btn btn-success">Hire</a>
                    }
             </div>
        </div>
    </div>
</div>