@model AllRecipesQueryModel

@{
    ViewData["Title"] = "All Recipes";
}

<h2 class="heading-margin text-center">All Recipes</h2>

<form method="get">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Rice, Eggs, etc."/>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting">Sort by</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Date Created</option>
                    <option value="1">Title</option>
                </select>
            </div>
        </div>
     </div>
</form>

@if (!Model.Recipes.Any())
{
    <h2 class="text-center">No recipes found!</h2>
}

<partial name="_RecipesPartial" model="@Model.Recipes" />

@{
    var lastPage = Math.Ceiling((double)Model.TotalRecipes / AllRecipesQueryModel.RecipesPerPage);
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
        asp-controller="Recipes" asp-action="All" asp-route-currentPage="@(Model.CurrentPage - 1)">Previous Page</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == lastPage ? "disabled" : string.Empty)"
        asp-controller="Recipes" asp-action="All" asp-route-currentPage="@(Model.CurrentPage + 1)">Next Page</a>
    </div>
</div>